<div class="container show-page">
  <div class="row">
      <section class="show-page-user">
          <div class="image-border">
            <img src="<%= poet.imageSRC %>" class="show-page-image">
          </div>
          <div class="card-block">
            <h3 class="poet-name"><%= poet.name %></h3><span class="wiki"></span>
            <p><b>Why her work inspires me:</b> <%= poet.reason %></p>
            <em><p>Recommended read: <%= poet.recommend %></p></em>
            <p class="small-content"><small>Post created by: <%= poet.createdBy.username %></small></p>
          </div>
          <hr>
            <div class="results"></div>
          </section>

    <% if(locals.isAuthenticated) { %>
      <section class="comment-section col-12">

          <h4 class="show-header">Leave comment</h4>

          <form method="POST" action="/poets/<%= poet.id %>/comments">
            <textarea class="form-control comment-input" name="content" id="content" placeholder="Comment"></textarea>
            <button class="btn btn-primary add-btn">Add comment</button>
          </form>


    <% } %>
        <h4 class="show-header">Comments</h4>
        <% poet.comments.forEach((comment) => { %>
          <div class="col-lg-12 read-comment">
            <div class="comment-content">
              <p><%= comment.content %></p>
              <p class="small-content"><small>Comment created by:<%= comment.createdBy.username %></small></p>
            <div>
          </div>
          <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
            <a href="/poets/<%= poet.id %>/comments/<%= comment.id %>/edit" class="btn btn-primary edit-btn">Edit Comment</a>
            <form method="POST" action="/poets/<%= poet.id %>/comments/<%= comment.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn">Delete comment</button>

              </form>
          <%  } %>
        <% }) %>
        <hr>
        <% if(locals.isAuthenticated && poet.belongsTo(user)) { %>
          <div class="poet-edit-delete">
            <a href="/poets/<%= poet.id %>/edit" class="btn btn-primary edit-btn">Edit Post</a>
            <form method="POST" action="/poets/<%= poet.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn delete-btn">Delete post</button>
            </form>
          </div>
        <% } %>

      </section>

  </div>
</div>
